mixin menu(data)
  .menu
    a(href="#" title="").menu__item._active
      i.fa.fa-th-list
      span Список заданий
    a(href="#" title="").menu__item
      i.fa.fa-font
      span Семантика
    a(href="#" title="").menu__item
      i.fa.fa-users
      span Копирайтеры
    a(href="#" title="").menu__item
      i.fa.fa-pencil
      span Редакторы
    a(href="#" title="").menu__item
      i.fa.fa-bar-chart
      span Статистика
    a(href="#" title="").menu__item
      i.fa.fa-comments
      span Тикеты
      .label._green 506
    a(href="#" title="").menu__item
      i.fa.fa-rub
      span Финансы
    a(href="#" title="").menu__item
      i.fa.fa-file
      span Новости
    a(href="#" title="").menu__item
      i.fa.fa-wrench
      span Инструменты
    a(href="#" title="").menu__item
      i.fa.fa-archive
      span Аналитика
    a(href="#" title="").menu__item
      i.fa.fa-cog
      span Настройки