extends ./layout.jade

block variables
	-var page = 'check'

block content
	.content._other-page
		+add-post
		+textarea-item(false)
		+textarea-item(false)
		+textarea-item._angle
		+textarea-item._angle._small
	+right-sidebar
