extends ./layout.jade

block content
  .content
    +filter-statistic-user
    +statistic-data-copyrighters-list
    +statistic-data-redactors-list
    +statistic-data-compilers-list
    +statistic-data-posters-list
    +pagination
