extends ./layout.jade

block variables
  -var page = 'statistics'

block content
  .content
    +filter-statistic
    +tabs
    +statistic-copyrighters-list
    +statistic-redactors-list
    +statistic-semantist-list
    +statistic-poster-list
    +statistic-compilers-list

