mixin filter-date(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row
				.filter-block
					label.filter__label Выбрать даты
					a(href="#" title="").filter-block__calendar: i.fa.fa-calendar
					input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
					input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
					input(type="submit" value="Ок").filter-block__simple-button._ok._simple
				.filter-block._control-tasks
					.filter-block__label._white._small._not-click Запросы 
						strong 34
					a(href="#" title="").filter-block__label._white._big Назначить задания
					a(href="#" title="").filter-block__label._big._green Добавить задание
			.filter__row
				.filter-block
					a(href="#" title="").filter-block__label._white._large._active На модерации <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large Новое <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large Выполняется <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large На проверке <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large На доработке <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large Выполнено <strong>34</strong>
					a(href="#" title="").filter-block__label._white._large Опубликовано <strong>34</strong>
			.filter__row._last
				.filter-block
					label.filter__label Поиск
						input(type="text" value="").filter-block__search-input
						.filter-block__search-wrapper
							input(type="submit" value="").filter-block__simple-button._search._simple._simple
							i.fa.fa-search
				.filter-block
					label.filter__label Проект
					select(type="text" value="").filter-block__select


mixin filter-theme(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row._theme
				.filter-block
					label.filter__label Тематики
					select(type="text" value="").filter-block__select._middle
						option Все тематики (350)
						option хз		
				
				label.filter__label Поиск
					input(type="text" value="").filter-block__search-input._small
					select(type="text" value="").filter-block__select._small
						option по имени
						option хз							
					.filter-block__search-wrapper
						input(type="submit" value="").filter-block__simple-button._search._simple
						i.fa.fa-search
				a(href="#" title="").filter-block__label._big._green Добавить

mixin filter-request(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row
				.filter-block
					label.filter__label._big Запрос
						input(type="text" value="").filter-block__search-input._middle._request
						input(type="submit" value="Отправить").filter-block__label._middle._blue
					.filter-block-vip
						input(type="checkbox" checked).filter-block-vip__checkbox
						span.filter-block-vip__sticker VIP
					a(href="#" title="").filter-block__label._xbig._green Добавить группу ключей		
			.filter__row._lists
				.filter-block._unflex._request
					.filter-block__title Составители
						span (Сегодня/за неделю)
					.filter-block__inner
						.filter-block-list
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анна Иванова
								.filter-block-list__right
									| 3 <span class="filter-block-list__sub">(141)</span>
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анастасия Осипова
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(11)</span>
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Мария Соболева
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(465)</span>
						.filter-block-list
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анна Иванова
								.filter-block-list__right
									| 3 <span class="filter-block-list__sub">(141)</span>
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анастасия Осипова
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(11)</span>							
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Мария Соболева
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(465)</span>									
				.filter-block._unflex._request
					.filter-block__title Семантисты
						span (Сегодня/за неделю)
					.filter-block__inner
						.filter-block-list
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анна Иванова
								.filter-block-list__right
									| 3 <span class="filter-block-list__sub">(141)</span>
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Анастасия Осипова
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(11)</span>
							.filter-block-list__item
								.filter-block-list__left
									i.fa.fa-user
									a(href="#" title="").filter-block-list__link Мария Соболева
								.filter-block-list__right
									| 5 <span class="filter-block-list__sub">(465)</span>
			.filter__row._last
				.filter-block._unflex
					label.filter__label Поиск
					input(type="text" value="").filter-block__search-input._big._nomargin
					.filter-block__search-wrapper._silver
						input(type="submit" value="").filter-block__simple-button._search._simple
						i.fa.fa-search
				.filter-block._unflex
					label.filter__label Статус
					select(type="text" value="").filter-block__select._xsmall._nomargin
				.filter-block._unflex
					label.filter__label Сайты
					select(type="text" value="").filter-block__select._big._nomargin

mixin filter-statistic(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row._statistic
				.filter-block._unflex._statistic-search
					label.filter__label Поиск
					input(type="text" value="").filter-block__search-input._small._nomargin
					.filter-block__search-wrapper._silver
						input(type="submit" value="").filter-block__simple-button._search._simple
						i.fa.fa-search
				.filter-block._unflex._statistic-sites
					label.filter__label Сайты
					select(type="text" value="").filter-block__select._xsmall._nomargin
				.filter-block._unflex._statistic-date
					label.filter__label Выбрать даты
					.filter-block__inner
						a(href="#" title="").filter-block__calendar._nomargin
							i.fa.fa-calendar
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="submit" value="Ок").filter-block__simple-button._ok._simple
				.filter-block
					a(href="#" title="").filter-block__label._white._big._statistic
						i.fa.fa-star
						span Рейтинг

mixin filter-statistic-redaktor(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row._statistic-redaktor
				.filter-block._unflex._statistic-redaktor-search
					label.filter__label Поиск
					input(type="text" value="").filter-block__search-input._xsmall._nomargin
					.filter-block__search-wrapper._silver
						input(type="submit" value="").filter-block__simple-button._search._simple
						i.fa.fa-search
				.filter-block._unflex._statistic-redaktor-sites
					label.filter__label Сайты
					select(type="text" value="").filter-block__select._xmiddle._nomargin
				.filter-block._unflex
					label.filter__label Выбрать даты
					.filter-block__inner
						a(href="#" title="").filter-block__calendar._nomargin
							i.fa.fa-calendar
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="submit" value="Ок").filter-block__simple-button._ok._simple
					

mixin filter-statistic-user(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row._statistic
				.filter-block._unflex._statistic-user
					.filter__label._big Статистика редакторов
					.filter-block__goto-back
						i.fa.fa-angle-left
						a(href="#" title="") назад
				.filter-block._unflex._statistic-user-search
					label.filter__label Поиск
					input(type="text" value="").filter-block__search-input._little._nomargin
					select(type="text" value="").filter-block__select._small
						option по имени
						option хз
					.filter-block__search-wrapper
						input(type="submit" value="").filter-block__simple-button._search._simple
						i.fa.fa-search
				.filter-block._unflex
					label.filter__label Выбрать даты
					.filter-block__inner
						a(href="#" title="").filter-block__calendar._nomargin
							i.fa.fa-calendar
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="submit" value="Ок").filter-block__simple-button._ok._simple											

mixin filter-statistic-date(data)
	form(method="GET" action="").filter
		.filter__inner
			.filter__row._statistic
				.filter-block._unflex._statistic-za
					.filter__label._big Статистика за 11.10.2016-12.12.2016
				.filter-block
					label.filter__label._statistic-za Выбрать даты
					.filter-block__inner
						a(href="#" title="").filter-block__calendar._nomargin
							i.fa.fa-calendar
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="text" value="" placeholder="10.11.2016").filter-block__select-date-input
						input(type="submit" value="Ок").filter-block__simple-button._ok._simple
						