html,
body {
    height: 100%;

    background-color: #f3f5f9;

    font-family: "Lato", sans-serif;
}
input,
textarea {
    box-sizing: border-box;

    resize: none;

    border: none;
    outline: none;
}
input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    min-width: 100%;
    min-height: 100%;

    cursor: inherit;
    text-align: right;

    opacity: 0;

    font-size: 999px;
}
