a {
  text-decoration: none;

  color: #2d7baf;

  @include transition;
  &:hover {
    color: #2d7baf + #111;
  }
}
.wrapper {
  width: 1285px;
  margin: auto;
}

.main {
  display: flex;

  align-items: flex-start;
  @extend .wrapper;
  justify-content: space-between;
}

.content {
  width: 1097px;
}

.table {
  font-size: 14px;
  &._striped {
    tfoot {
      tr {
        background-color: #f4f5f7;
      }
    }
    tbody {
      tr {
        td {
          border-right: 1px dotted #ccc;
          &:nth-child(2n) {
            background-color: #f9fafc;
          }
        }
      }
    }
  }
  thead {
    tr {
      background-color: #919fb3;
      th {
        font-size: 14px;
        font-weight: normal;

        padding-top: 12px;
        padding-bottom: 12px;

        text-align: left;

        color: #fff;
        &._center {
          text-align: center;
        }
        &:first-child {
          padding-left: 22px;
        }
      }
    }
  }
  tfoot {
    tr {
      td {
        padding-top: 8px;
        padding-bottom: 8px;
        &:first-child {
          padding-left: 22px;
        }
        // .fa {
        //   padding-right: 6px;
        // }
        &._active {
          .fa {
            color: #82c537;
          }
        }
        &._inactive {
          .fa {
            color: #a7b2c4;
          }
        }
        &._center {
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px dotted #e5e5e5;
      background-color: #fff;
      td {
        padding: 10px 4px;
        &:first-child {
          padding-left: 22px;
        }
        &._status {
          font-size: 12px;
          strong {
            font-family: 'Lato-Semibold';
            font-size: 14px;

            display: block;

            margin-top: 5px;

            color: #414852;
          }
        }
        &._project {
          font-family: 'Lato-Bold';

          color: #414852;
        }
        &._oklad {
          font-family: 'Lato-Semibold';

          color: #333;
        }
        &._compiler {
          a {
            font-family: 'Lato-Semibold';

            color: #60a218;
          }
        }
        &._composition {
          select {
            width: 100%;
            height: 26px;

            @extend .input-form;
          }
        }
        &._refovod {
          a {
            font-family: 'Lato-Semibold';

            color: #60a218;
          }
        }
        &._price {
          ._green {
            color: #60a218;
          }
        }
        &._theme {
          position: relative;
          &:hover .task-list-show-themes {
            display: block;
          }
        }
        &._active {
          .fa {
            font-size: 12px;

            color: #82c537;
          }
        }
        &._underline {
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &._control {
          a {
            line-height: 24px;

            display: inline-block;

            width: 24px;
            margin-right: 2px;

            text-align: center;

            color: #999;
            border: 1px solid #ccc;
            &:hover {
              color: #fff;
              background-color: #ccc;
            }
            .fa {
              margin-right: 0;
            }
          }
        }
        &._padding {
          padding-left: 15px;
        }
        &._center {
          text-align: center;
        }
      }
    }
  }
}

.published {
  font-family: 'Lato-Semibold';
  font-size: 12px;
  &__sub {
    font-size: 14px;
  }
  &._green {
    color: #60a218;
  }
  &._orange {
    color: #e18400;
  }
  &._red {
    color: #ef4705;
  }
  &._black {
    color: #414852;
  }
}

.small-button {
  font-size: 10px;
  line-height: 22px;

  display: block;

  box-sizing: border-box;
  width: 80px;
  height: 24px;
  margin-bottom: 4px;
  padding-left: 7px;

  text-transform: uppercase;

  color: #868686 !important;
  border: 1px solid #ccc;
  border-radius: 2px;
  &:hover {
    color: #fff !important;
    background-color: #ccc;
    .fa {
      color: #fff;
    }
  }
  &._center {
    margin-right: auto;
    margin-left: auto;
  }
  .fa {
    font-size: 9px;

    display: inline-block;

    width: 12px;

    color: #999;
  }
}

.label {
  font-family: 'Lato-Bold';
  font-size: 12px;
  line-height: 1;

  text-align: center;

  border-radius: 3px;
  &._green {
    font-family: 'Lato';
    font-size: 11px;

    position: absolute;
    top: 50%;
    right: 11px;

    padding: 2px 2px 3px;

    transform: translateY(-50%);

    color: #65a81a;
    border: 1px solid #65a81a;
  }
  &._vip {
    padding: 3px 2px 1px;

    color: #fff;
    background-color: #ff9600;
    &._inactive {
      background-color: #f2f2f2;
    }
  }
}
.input-form {
  box-sizing: border-box;

  border: 1px solid #ccc;
  box-shadow: 0 2px 1px rgba(#000,.07) inset;
}

.form-field {
  font-size: 14px;

  box-sizing: border-box;
  min-height: 40px;
  padding-left: 10px;

  border: 1px solid #b1bbca;
}
