mixin preview-user(data)
	.preview-user
		.preview-user__title._blue Исполнитель
		.preview-user__content
			.preview-user-top
				.preview-user-top__column._left
					i.fa.fa-user-circle-o
					span.preview-user-top__name meleshko2
				.preview-user-top__label Новичок
			.preview-user-meta
				.preview-user-meta__column
					.preview-user-meta__title Время исполнения:
					.preview-user-meta__time
						i.fa.fa-clock-o
						span.bold 52 ч 51 мин
					.preview-user-meta__date (17.02.2017 14:08)
				.preview-user-meta__column
					.preview-user-meta__title Доработки:
					.preview-user-meta__total
						i.fa.fa-pencil
						span 1
