mixin profile(data)
	.profile
		.profile__inner
			.profile-top
				.profile-top-user
					i.fa.fa-user-circle-o
					.profile-top-user__name MELESHKO2
			form(method="POST" action="").profile-form
				.profile-form__column
					.profile-form__common-info
						.profile-form-input-block
							.profile-form-input-block__left
								label.profile-form-input-block__label Кошелек
							input(type="text" value="" placeholder="R123456789").profile-form-input-block__input
						.profile-form-input-block
							.profile-form-input-block__left
								label.profile-form-input-block__label ICQ
							input(type="text" value="" placeholder="").profile-form-input-block__input
						.profile-form-input-block
							.profile-form-input-block__left
								label.profile-form-input-block__label Skype
							input(type="text" value="" placeholder="skypename").profile-form-input-block__input
						.profile-form-input-block
							.profile-form-input-block__left
								label.profile-form-input-block__label Email
							input(type="text" value="" placeholder="namemail@mail.ru").profile-form-input-block__input
					label.profile-form-input-block__label._reg-copyrighters Ссылка на для регистрации копирайтеров
					.profile-form-input-block
						input(type="text" value="" placeholder="truetext.ru/ref13246").profile-form-input-block__input._big
						a(href="#" title="").profile-form-input-block__button._simple
							i.fa.fa-clone
				.profile-form__column
					+change-password