.task-list {
	box-shadow: 0 0 5px rgba(#000, .28);
}

.task-list-show-themes {
	position: absolute;
	top: 39px;

	display: none;

	padding: 15px 17px 15px 14px;

	background-color: #fff;
	box-shadow: 0 0 5px rgba(#000,.28);
	._caret-up {
		position: absolute;
		top: -17px;
		left: 3px;

		color: #fff;
		text-shadow: 0 -2px 5px rgba(#000,.28);

		font-size: 23px;
	}
	&__item {
		margin-bottom: 7px;

		font-size: 13px;
		&._last {
			margin-bottom: 0;
		}
		a {
			margin-right: 5px;
		}
	}
}
