mixin task-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="175") Тема
          th(width="100") Кол-во символ
          th(width="88") Добавлен
          th(width="62") Проект
          th(width="76") Тематика
          th(width="52") Тем. сл
          th(width="52") Анкор
          th(width="40") ID
          th(width="35") Топ
          th(width="255") Статус
          th(width="100") Управление
      
      tbody
        tr
          td
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._green Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._orange Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._red Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._black Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._green Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._orange Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._red Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._black Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить


mixin copyrighters-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="159") Имя
          th(width="111")._center Должность
          th(width="99")._center Оклад (руб)
          th(width="96")._center Дата
          th(width="76")._center Рефы
          th(width="96") Рефовод
          th(width="193") Тематики
          th(width="148") Статус
          th(width="126") Управление
      tfoot
        tr
          td(width="10") Итого:
          td(width="127")._active 
            i.fa.fa-circle
            | Активных 56
          td(width="120")._inactive
            i.fa.fa-circle
            | Не активных 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active
            i.fa.fa-circle
            | Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  



mixin redactors-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="192") Имя
          th(width="187")._center Должность
          th(width="205")._center Оклад (руб)
          th(width="179")._center Рефы
          th(width="215")._center Дата
          th(width="126") Управление
      tfoot
        tr
          td(width="10") Итого: 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

mixin semantic-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="220") Запрос
          th(width="52") Всего
          th(width="72") Анкоры
          th(width="69") Тем.слов
          th(width="65")._center Сайт
          th(width="102")._center Составитель
          th(width="114")._center Статус
          th(width="83")._center Группа
          th(width="120") Дата создания
          th(width="62")._center ID
          th(width="54") Топ
          th(width="170") Назначить состав.
          th(width="29")._center: input(type="checkbox")
      tbody
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition 
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td: input(type="checkbox")                                     




mixin compiler-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="225") Имя
          th(width="250")._center Должность
          th(width="275")._center Оклад (руб)
          th(width="223")._center Дата
          th(width="128") Управление
      tfoot
        tr
          td(width="10") Итого: 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o            