mixin task-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="175") Тема
          th(width="100") Кол-во символ
          th(width="88") Добавлен
          th(width="62") Проект
          th(width="76") Тематика
          th(width="52") Тем. сл
          th(width="52") Анкор
          th(width="40") ID
          th(width="35") Топ
          th(width="255") Статус
          th(width="100") Управление
      
      tbody
        tr
          td
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._green Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._orange Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._red Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._black Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._green Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._orange Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._red Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить

        tr
          td 
            a(href="#" title="") Как рассчитать компенсацию за неиспользованный отпуск
          td 8500 - 9500 <br>(9496) 664р.
          td 23.10.2017 <br>15:02
          td._project Старые <br>советы
          td Кулинария
          td._center 53
          td._center 99
          td 1136
          td 
            .label._vip VIP
          td._status
            .published._black Опубликовано (26.10.2016 05:30)
            | Проверено 24.10.2016 09:15

            strong Постер: Елена В.
            | (оплачено Администатор 27.10.2016 15:45)
            strong Редактор: meleshko2
            strong Копирайтер: Галина Loboc
          td
            a(href="#" title="").small-button
              i.fa.fa-pencil
              span Правка
            a(href="#" title="").small-button
              i.fa.fa-clock-o
              span История
            a(href="#" title="").small-button
              i.fa.fa-external-link-square
              span Экспорт
            a(href="#" title="").small-button
              i.fa.fa-trash-o
              span Удалить


mixin copyrighters-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="159") Имя
          th(width="111")._center Должность
          th(width="99")._center Оклад (руб)
          th(width="96")._center Дата
          th(width="76")._center Рефы
          th(width="96") Рефовод
          th(width="193") Тематики
          th(width="148") Статус
          th(width="126") Управление
      tfoot
        tr
          td(width="10") Итого:
          td(width="127")._active 
            i.fa.fa-circle
            | Активных 56
          td(width="120")._inactive
            i.fa.fa-circle
            | Не активных 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active 
            i.fa.fa-circle
            |  Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center копирайтер
          td._center._oklad 10 000
          td._center 23.10.2017
          td._center 5
          td._refovod 
              a(href="#" title="") Admin
                i.fa.fa-angle-down
          td 
            i.fa.fa-eye
            Шоппинг, Обувь
          td._active
            i.fa.fa-circle
            | Активный
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  



mixin redactors-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="192") Имя
          th(width="187")._center Должность
          th(width="205")._center Оклад (руб)
          th(width="179")._center Рефы
          th(width="215")._center Дата
          th(width="126") Управление
      tfoot
        tr
          td(width="10") Итого: 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center редактор
          td._center._oklad 10 000
          td._center 155
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

mixin semantic-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="220") Запрос
          th(width="52") Всего
          th(width="72") Анкоры
          th(width="69") Тем.слов
          th(width="65")._center Сайт
          th(width="102")._center Составитель
          th(width="114")._center Статус
          th(width="83")._center Группа
          th(width="120") Дата создания
          th(width="62")._center ID
          th(width="54") Топ
          th(width="170") Назначить состав.
          th(width="29")._center: input(type="checkbox")
      tbody
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition 
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td._center: input(type="checkbox")
        tr
          td
            a(href="#" title="") Секреты пользования Iphone
          td 1136
          td 53
          td._center 99
          td._center Старые советы
          td._center._compiler 
              a(href="#" title="") Admin
          td Проверенный
          td._center Кредиты
          td 23.10.2017 <br>15:02
          td 000156
          td
            .label._vip VIP
          td._composition  
            select
              option 3x3
              option 4x4
          td: input(type="checkbox")                                     




mixin compiler-list(data)
  .task-list
    table.table
      thead
        tr
          th(width="225") Имя
          th(width="250")._center Должность
          th(width="275")._center Оклад (руб)
          th(width="223")._center Дата
          th(width="128") Управление
      tfoot
        tr
          td(width="10") Итого: 6
      tbody
        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o                                            

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  


        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o  
          

        tr
          td 
            a(href="#" title="") Фомин Анатолий
          td._center составитель
          td._center._oklad 10 000
          td._center 23.10.2017
          td._control 
            a(href="#" title="")
              i.fa.fa-pencil
            a(href="#" title="")
              i.fa.fa-sign-in
            a(href="#" title="")
              i.fa.fa-ban
            a(href="#" title="")
              i.fa.fa-trash-o            

mixin statistic-copyrighters-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="142") Дата
          th(width="238")._center Статей на проверку
          th(width="218")._center Принято статей
          th(width="242")._center В работе
          th(width="260")._center Отказов
      tfoot
        tr
          td Итого:
          td._center 
            | 5654
          td._center
            | 5654
          td._center
            | 5654
          td._center
            | 54          
      tbody
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center._underline
            a(href="#" title="") 630
          td._center._underline
            a(href="#" title="") 15


mixin statistic-redactors-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="142") Дата
          th(width="238")._center Принято статей
          th(width="218")._center На доработку
          th(width="242")._center Знаков
          th(width="260")._center Рефов
      tfoot    
        tr
          td Итого:
          td._center 
            | 5654
          td._center
            | 5654
          td._center
            | 98 405 654
          td._center
            | 54          
      tbody
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
          td._center
            | 199 136
          td._center
            | 199


mixin statistic-semantist-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="142") Дата
          th(width="452")._center Добавлено ключей
          th(width="506")._center Отфильтровано
      tfoot
        tr
          td Итого:
          td._center 
            | 5654
          td._center
            | 405 654            
      tbody
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320
        tr
          td 23.10.2017
          td._center._underline
            a(href="#" title="") 543
          td._center._underline
            a(href="#" title="") 320

                                                               
mixin statistic-poster-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="142") Дата
          th(width="957") Статей размещено
      tfoot
         tr
          td Итого: 5654
      tbody
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543
        tr
          td 23.10.2017
          td._underline
            a(href="#" title="") 543


mixin statistic-compilers-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="546")._center Дата
          th(width="556")._center Статей размещено
      tfoot  
        tr
          td._center Итого:
          td._center 5654      
      tbody
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543
        tr
          td._center 23.10.2017
          td._center._underline
            a(href="#" title="") 543                                                            




mixin statistic-data-copyrighters-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="221") Название статьи
          th(width="75")._center ID
          th(width="105")._center Копирайтер
          th(width="92")._center Редактор
          th(width="72")._center Знаков
          th(width="99")._center Стоимость
          th(width="108")._center Дата отправ
          th(width="96")._center Дата прин
          th(width="128") Статус
          th(width="107")
      tfoot   
        tr
          td Итого: 654
      tbody
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td Анна
            br 
            | Гордеева
          td 2 345
          td._price 5 634
            i.fa.fa-rub
            i._green.fa.fa-check-circle-o
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._status
            .published._green 
              span.published__sub Опубликовано 
              br
              |(26.10.2016 05:30)
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td Анна
            br 
            | Гордеева
          td 2 345
          td._price 5 634
            i.fa.fa-rub
            i._green.fa.fa-check-circle-o
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._status
            .published._green 
              span.published__sub Опубликовано 
              br
              |(26.10.2016 05:30)
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td Анна
            br 
            | Гордеева
          td 2 345
          td._price 5 634
            i.fa.fa-rub
            i._green.fa.fa-check-circle-o
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._status
            .published._green 
              span.published__sub Опубликовано 
              br
              |(26.10.2016 05:30)
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td Анна
            br 
            | Гордеева
          td 2 345
          td._price 5 634
            i.fa.fa-rub
            i._green.fa.fa-check-circle-o
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._status
            .published._green 
              span.published__sub Опубликовано 
              br
              |(26.10.2016 05:30)
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание

mixin statistic-data-redactors-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="221") Название статьи
          th(width="75")._center ID
          th(width="92")._center Редактор
          th(width="92")._center Рефов
          th(width="72")._center Знаков
          th(width="108")._center Дата отправки
          th(width="96")._center Дата принятия
          th(width="128")._center Доработки
          th(width="107")
      tfoot   
        tr
          td Итого: 654
      tbody
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 345
          td._center 2 345
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._center 5
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 345
          td._center 2 345
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._center 5
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 345
          td._center 2 345
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._center 5
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 345
          td._center 2 345
          td 23.10.2017 
            br
            |15:02
          td 25.10.2017 
            br
            |15:02
          td._center 5
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание

mixin statistic-data-compilers-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="337") Название статьи
          th(width="95")._center ID
          th(width="144")._center Составитель
          th(width="106")._center Анкор
          th(width="115")._center Тем. слов
          th(width="182") Сайт
          th(width="119")
      tfoot   
        tr
          td Итого: 654
      tbody
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 2 345
          td._center 2 345
          td._center Старые советы
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 2 345
          td._center 2 345
          td._center Старые советы
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 2 345
          td._center 2 345
          td._center Старые советы
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td 000136
          td Мария
            br
            | Иванова
          td._center 2 345
          td._center 2 345
          td._center Старые советы
          td
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Таск
            a(href="#" title="").small-button
              i.fa.fa-eye
              span Задание

mixin statistic-data-posters-list(data)
  .task-list
    table.table._striped
      thead
        tr
          th(width="470") Название статьи
          th(width="125")._center ID
          th(width="175")._center Сайт
          th(width="331")._center Постер
      tfoot   
        tr
          td Итого: 654
      tbody
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова
        tr
          td._underline
            a(href="#" title="") Минтай под маринадом из моркови и лука - рецепты с фото.
          td._center 000136
          td._center Старые советы
          td._center Мария Иванова                                                            

          
        