mixin news-item(data)
	-var modifier = attributes.class || ''
	.news-item(class="#{modifier}")
		.news-item__content
			h1: a(href="#" title="") От Антарктиды откололся айсберг размером с город
			p Как и обещали на форуме, сегодня получили небольшую часть средств через более быстрый, но дорогой канал обмена на WMZ (с логинов никакой комиссий дополнительной не удерживали). Всем кто запрашивал досрочные выплаты отправил уже средства в зависимости от балансов логинов от 25% до 100% от всего заработка. Надеемся на Ваше понимание.  
		.news-item__published 23.10.2017 (15:12)