mixin header-menu(data)
  .header-menu
    a(href="#" title="").header-menu__item._active
      i.fa.fa-th-list
      span Задания
    a(href="#" title="").header-menu__item
      i.fa.fa-bar-chart
      span Статистика
    a(href="#" title="").header-menu__item
      i.fa.fa-font
      span Правила
    a(href="#" title="").header-menu__item
      i.fa.fa-file-text
      span Новости
    a(href="#" title="").header-menu__item
      i.fa.fa-briefcase
      span Инструменты