.tabs {
	display: flex;

	margin-bottom: 14px;

	align-items: center;
	justify-content: space-between;
	&__list {
		display: flex;

		justify-content: flex-start;
	}
	&__item {
		padding-right: 40px;

		font-family: "Lato-Medium";
		font-size: 15px;
		&._first {
			margin-left: 19px;
		}
		span {
			color: #414852;
		}
		a {
			border-bottom: 1px dashed #2d7baf;
		}
		strong {
			margin-left: 5px;
		}
	}
}
.tabs-right {
	display: flex;

	color: #414852;

	font-size: 14px;
	line-height: 1;

	justify-content: flex-start;
	&__button {
		text-align: center;
		text-decoration: none;

		border: 1px solid #ccc;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2);

		line-height: 26px;

		@include transition;
		&:hover {
			background-color: darken(#f1f2f3, 5%);
		}
	}
	&__delete {
		position: relative;

		margin-left: 4px;
		.fa {
			position: absolute;
			top: 8px;
			left: 8px;
		}
	}
	&__simple-button {
		width: 30px;

		cursor: pointer;
		text-align: center;

		border: 1px solid #ccc;
		background: linear-gradient(to bottom, #f3f3f3 0%, #ededed 100%);
		background-color: #fff;

		line-height: 26px;

		@include transition;
		&:hover {
			background: linear-gradient(to bottom, #ededed 0%, #f3f3f3 100%);
		}
	}
}
