mixin tabs(data)
  .tabs
    .tabs__item._first
        span Копирайтеры
        strong 34
    .tabs__item
        a(href="#" title="") Редактора
        strong 9
    .tabs__item
        a(href="#" title="") Составители
        strong 31
    .tabs__item
        a(href="#" title="") Семантисты
        strong 50
    .tabs__item
        a(href="#" title="") Постеры
        strong 5