.tabs {
  display: flex;

  margin-bottom: 14px;

  align-items: center;
  justify-content: space-between;
  &__list {
    display: flex;

    justify-content: flex-start;
  }
  &__item {
    font-family: 'Lato-Medium';
    font-size: 15px;

    padding-right: 40px;
    &:hover {
      cursor: pointer;
    }
    &._first {
      margin-left: 19px;
    }
    span {
      color: #414852;
    }
    a {
      border-bottom: 1px dashed #2d7baf;
    }
    strong {
      margin-left: 5px;
    }
  }
}
.tabs-right {
  font-size: 14px;
  line-height: 1;

  display: flex;

  color: #414852;

  justify-content: flex-start;
  &__button {
    line-height: 26px;

    text-align: center;

    @extend .button;
  }
  &__delete {
    position: relative;

    margin-left: 4px;
    .fa {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }
  &__simple-button {
    line-height: 26px;

    width: 30px;

    @extend .button;
  }
}
