mixin pagination(data)
  .pagination
    a(href="#" title="").pagination__item._prev
      i.fa.fa-angle-double-left
      span Предыдущая
    a(href="#" title="").pagination__item._active 1
    a(href="#" title="").pagination__item 2
    a(href="#" title="").pagination__item 3
    a(href="#" title="").pagination__item 4
    a(href="#" title="").pagination__item 5
    a(href="#" title="").pagination__item._next
      span Следующая
      i.fa.fa-angle-double-right
