.change-password {
	&__input-group {
		margin-bottom: 95px;
	}
	&__submit {
		width: 56%;

		line-height: 40px;

		@extend .button;
	}
}
.change-password-submit-wrapper {
	display: flex;

	justify-content: flex-end;
}
.change-password-input-block {
	display: flex;

	margin-bottom: 12px;

	align-items: center;
	justify-content: space-between;
	&:last-child {
		margin-bottom: 0;
	}
	&__left {
		width: 38%;
	}
	&__right {
		width: 51%;
	}
	&__label {
		display: block;
	}
	&__input {
		width: 100%;
		height: 26px;
		padding-left: 15px;

		@extend .input-form;
	}
}
