mixin change-password(data)
	.change-password
		.change-password__input-group
			.change-password-input-block
				.change-password-input-block__left
					label.change-password-input-block__label Текущий пароль
				.change-password-input-block__right
					input(type="password" value="" placeholder="**********").change-password-input-block__input
			.change-password-input-block
				.change-password-input-block__left
					label.change-password-input-block__label Новый пароль
				.change-password-input-block__right
					input(type="text" value="" placeholder="").change-password-input-block__input
			.change-password-input-block
				.change-password-input-block__left
					label.change-password-input-block__label Подтверждение пароля
				.change-password-input-block__right
					input(type="text" value="" placeholder="").change-password-input-block__input
		.change-password-submit-wrapper
			input(type="submit" value="Сохранить изменения").change-password__submit._green